<!DOCTYPE html>
<html>

<head>
    <title>Ввод учетных данных</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Необходимо ввести учетные данные для работы сервиса</h1>
    <p>Пожалуйста, заполните все поля для доступа к сервисам:</p>

    <form method="post" action="/save_credentials">
        <fieldset>
            <legend>Earth Explorer</legend>

            <label>Имя пользователя:</label>
            <input type="text" name="earth_explorer_username" required><br>

            <label>Токен:</label>
            <input type="text" name="earth_explorer_token" required><br>
        </fieldset>

        <fieldset>
            <legend>Геопортал</legend>

            <label>Имя пользователя:</label>
            <input type="text" name="geo_portal_username" required><br>

            <label>Пароль:</label>
            <input type="text" name="geo_portal_password" required><br>

            <label>ID resource-папки для сохранения снимков:</label>
            <input type="text" name="geo_portal_resource_group_id" required><br>

            <label>ID вебкарты для загрузки снимков:</label>
            <input type="text" name="geo_portal_web_map_id" required><br>
        </fieldset>

        <button type="submit">Сохранить учетные данные</button>
    </form>

    <div id="message"></div>
</body>

</html>
